body {
    font-family: "Roboto",
    sans-serif
    
}

header{
    background-color: #666;
        padding: 30px;
        text-align: center;
        font-size: 35px;
        color: white;
}

nav {
    float: left;
        width: 30%;
        height: 300px;
        background: #ccc;
        padding: 20px;
        justify-content: space-between;
        color: blue;
        margin: auto;

}

nav ul {
        list-style-type: none;
            padding: 0;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
    display: inline-block;
}

nav ul li a:hover{
    color: black;
    transition: 5s ease-in-out;
}

/* article{
    float : left;
    padding: 20px;
    width: 70%;
    background-color: #f1f1f1;
    height: 300px;
} */

 body {
     font-family: Arial, sans-serif;
     margin: 20px;
     padding: 20px;
 }

 input,
 select,
 button {
     padding: 10px;
     margin: 10px 0;
     font-size: 16px;
 }

 #result {
     margin-top: 20px;
     font-size: 18px;
     font-weight: bold;
 }

  #about{
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4);
      overflow: auto;
  }

/* .about{
    padding: 50px;
    text-align: center;
    background-color: #666;
    color: white;
} */